@{
    ViewData["Title"] = "Home Page";
}
<body bgcolor="#bfb4b4">
    <div class="text-center">
    <h1 class="display-4">Sitema de Prestamos e Inversiones (Doble J Inc.)</h1>
    <br />
    <img src="https://www.idf-af.com/wp-content/uploads/dinero-financiacion-empresas.jpg" alt="Imagen de sistema de prestamo">
</div>
</body>


